<html>
<head>
  <title>Changebranch: $name</title>
  <style type="text/css">
    body, td {
      font-family:arial,sans-serif;
      font-size:13px;
    }

    p, pre {
      margin-bottom:2em;
    }

    h2 {
      font-size:1.1em;
    }

    .content {
      padding:0 4px;
    }

    .add {
      background:#ddffdd;
      border:1px #00aa00;
      border-style:none solid;
    }

    .delete {
      background:#ffdddd;
      border:1px #cc0000;
      border-style:none solid;
    }

    .start {
      border-top-style:solid!important;
    }

    .end {
      border-bottom-style:solid!important;
    }

    .badchar {
      font-weight:bold;
      color:red;
    }
  </style>
</head>

<body>
  <h1>Changebranch: $name</h1>

  <p>
    #for $path in sorted($files.keys())
    <a href="#$path">$path</a>
    #if $path != $files.keys()[-1]
    <br>
    #end if
    #end for

#for $path in sorted($files.keys())
  #set $lines = $files[$path]
<h2 id="$path">===========================================================<br>
$path</h2>

<pre>#slurp
#set $inchange = False
#for $i, $line in enumerate($lines)
  #set $classname = 'content'
  #if $line.type == '+':
    #set $classname += ' add'
  #else if $line.type == '-':
    #set $classname += ' delete'
  #end if
  #if $line.type in ('+', '-') and not $inchange
    #set $classname += ' start'
    #set $inchange = True
  #end if
  #if $inchange
    #if (i == len($lines) - 1) or ($lines[i + 1].type not in ('+', '-'))
      #set $classname += ' end'
      #set $inchange = False
    #end if
  #end if
<span class="line-number source"> $line.source</span>#slurp
<span class="line-number dest"> $line.dest</span>#slurp
<span class="change-type"> $line.type </span>#slurp
<span class="$classname">$line.content</span>
#end for
</pre>

#end for

</body>
</html>
