body
{
  	background-color:#292929;
	padding:1px;
	padding-top:0px;
	margin:0px;
	
	font-family: 'Lucida Grande', Georgia;
}

a {
	color: #eee;	
}

#logo {
	background-image: url("logo_large.png");
	background-position: top left;
	float: left;
	width: 156px;
	height: 133px;
}

#welcome {
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	font-size:28px;
	border-bottom: 2px #ccc solid;
	color: white;
}

#quick-links {
	padding-top: 20px;
	color: white;
}

#project-name {
	padding-left: 20px;
	font-size: 16px;
	color: #ccc;
	font-weight: bold;
}

#documentation, #community {
	font-size: 16px;
	float: left;
	padding-left: 20px;
}

#documentation ul li, #community ul li {
	list-style-type: none;
}