/* This file skins dialog */

.titanium .ui-dialog,
.titanium.ui-dialog {
	background: #000;
	color: #fff;
	opacity: 0.9;
	font-family: Verdana, sans-serif;
}

.titanium .ui-dialog .ui-dialog-titlebar,
.titanium.ui-dialog .ui-dialog-titlebar {
	border-bottom: 2px solid #eee;
	background: #000;
	padding: 0px;
	height: 28px;
	_height: 29px;
	
	font-size: 14px;
}

.titanium .ui-draggable .ui-dialog-titlebar,
.titanium.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}

.titanium .ui-draggable-disabled .ui-dialog-titlebar,
.titanium.ui-draggable-disabled .ui-dialog-titlebar {
	cursor: default;
}

.titanium .ui-dialog .ui-dialog-titlebar-close,
.titanium.ui-dialog .ui-dialog-titlebar-close {
	width: 16px;
	height: 16px;
	background: url(../images/dialog_close.gif) no-repeat;
	position:absolute;
	top: 6px;
	right: 7px;
	cursor: default;
}

.titanium .ui-dialog .ui-dialog-titlebar-close span,
.titanium.ui-dialog .ui-dialog-titlebar-close span {
	display: none;
}

.titanium .ui-dialog .ui-dialog-titlebar-close-hover,
.titanium.ui-dialog .ui-dialog-titlebar-close-hover {
	background: url(../images/dialog_close_hover.gif) no-repeat;
}

.titanium .ui-dialog .ui-dialog-title,
.titanium.ui-dialog .ui-dialog-title {
	margin-left: 5px;
	color: white;
	font-weight: bold;
	position: relative;
	top: 7px;
	left: 4px;
}

.titanium .ui-dialog .ui-dialog-content,
.titanium.ui-dialog .ui-dialog-content {
	margin: 1.2em;
}

.titanium .ui-dialog .ui-dialog-buttonpane,
.titanium.ui-dialog .ui-dialog-buttonpane {
	position: absolute;
	bottom: 8px;
	right: 12px;
	width: 100%;
	text-align: right;
}

.titanium .ui-dialog .ui-dialog-buttonpane button,
.titanium.ui-dialog .ui-dialog-buttonpane button {
	margin: 6px;
}

/* Dialog handle styles */
.titanium .ui-dialog .ui-resizable-n,
.titanium.ui-dialog .ui-resizable-n { cursor: n-resize; height: 6px; width: 100%; top: 0px; left: 0px; background: transparent #000 repeat scroll center top; }

.titanium .ui-dialog .ui-resizable-s,
.titanium.ui-dialog .ui-resizable-s { cursor: s-resize; height: 8px; width: 100%; bottom: 0px; left: 0px; background: transparent #000 repeat scroll center top; }

.titanium .ui-dialog .ui-resizable-e,
.titanium.ui-dialog .ui-resizable-e { cursor: e-resize; width: 7px; right: 0px; top: 0px; height: 100%; background: transparent #000 repeat scroll right center; }

.titanium .ui-dialog .ui-resizable-w,
.titanium.ui-dialog .ui-resizable-w { cursor: w-resize; width: 7px; left: 0px; top: 0px; height: 100%; background: transparent #000 repeat scroll right center; }

.titanium .ui-dialog .ui-resizable-se,
.titanium.ui-dialog .ui-resizable-se { cursor: se-resize; width: 9px; height: 9px; right: 0px; bottom: 0px; background: transparent #000; }

.titanium .ui-dialog .ui-resizable-sw,
.titanium.ui-dialog .ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: 0px; bottom: 0px; background: transparent #000; }

.titanium .ui-dialog .ui-resizable-nw,
.titanium.ui-dialog .ui-resizable-nw { cursor: nw-resize; width: 9px; height: 29px; left: 0px; top: 0px; background: transparent #000; }

.titanium .ui-dialog .ui-resizable-ne,
.titanium.ui-dialog .ui-resizable-ne { cursor: ne-resize; width: 9px; height: 29px; right: 0px; top: 0px; background: transparent #000; }
