body
{
	width:700px;
/*	background-color:#26466D;*/
  background-color:#292929;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	padding:1px;
	padding-top:0px;
	margin:0px;
}
.body_content
{
	border-top:none;
	padding:20px;
	width:698px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	font-family:Georgia;
	color:white;
	overflow:hidden;
	position:relative;
}
.button1
{
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	height:25px;
	width:80px;
	border:1px solid #111;
	padding:0px;
	background-color:#151515;
	float:left;
	margin-right:10px;
	cursor:pointer;
}
.button2
{
	border:1px solid #555;
	height:23px;
	line-height:23px;
	text-align:center;
	background-color:#333;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;

}
.button2:hover
{
	border:1px solid #777;
}
input[type=checkbox]
{
	background-color:#444;
	color:#444;
}
sup
{
	font-size:10px;
}
a
{
	color:#fff;
}
a:hover
{
	color:#fff;
}
a:visited
{
	color:#fff;
}
.header_text
{
	font-size:28px;
	position:relative;
	top:-3px;
}
.text
{
	font-family:'Lucida Grande';
	font-size:12px;
}
.section
{
	margin-top:20px;
}
.page
{
	width:390px;
	float:left;
}
#powered_by
{
	height:26px;
	width:150px;
	background:url(../images/poweredby.png);
	position:absolute;
	bottom:10px;
	right:15px;
}
#logo
{
	background:url(../images/logo_large.png);
	height:133px;
	width:156px;
	float:left;
}
#terms
{
/*	background-color:#506987; */
	background-color:#393939;
	border:1px solid #555;
	color:white;
	height:180px;
	width:400px;
	overflow:auto;
	line-height:17px;
}
.app_icon_container
{
	border:1px solid #202020;
	height:80px;
	width:80px;
	padding:1px;
}
.app_icon
{
	height:78px;
	width:78px;
	line-height:78px;
	text-align:center;
	border:1px solid #404040;
	background-color:#303030;
}
#content
{
	float:left;
	width:400px;	
	margin-left:30px;
	overflow:hidden;
	position:relative;
}