body
{
  	background-color:#292929;
	padding:1px;
	padding-top:0px;
}

/*********************
 ID STYLES
**********************/
#body_content
{
	border-top:none;
	padding:20px;
	height:418px;
	width:598px;
	font-family:Georgia;
	color:white;
	overflow:hidden;
	position:relative;
}
#powered_by
{
	height:26px;
	width:150px;
	background:url(../images/poweredby.png);
	position:absolute;
	bottom:18px;
	right:20px;
}
#content
{
	float:left;
	width:400px;	
	margin-left:30px;
	overflow:hidden;
	position:relative;
}

/*********************
ELEMENT STYLES 
**********************/
input[type=text]
{
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	background-color:#333;
	border:1px solid #555;
	outline:none;
	font-size:14px;
	padding:3px;
	color:#fff;
	width:250px;
}
input:focus
{
	border:1px solid #777;
}
/*********************
 BUTTON CLASSES
**********************/
.button1
{
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	height:25px;
	width:80px;
	border:1px solid #111;
	padding:0px;
	background-color:#151515;
	float:left;
	margin-right:10px;
	cursor:pointer;
}
.button2
{
	border:1px solid #555;
	height:23px;
	line-height:23px;
	text-align:center;
	background-color:#333;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;

}
.button2:hover
{
	border:1px solid #777;
}
.disabled
{
	opacity:0.3;
}
/*********************
 STYLE CLASSES
**********************/
.header_text
{
	font-size:28px;
	position:relative;
	top:-3px;
}
.text
{
	font-family:'Lucida Grande', Georgia;
	font-size:12px;
}
.light
{
	color:#777;
}
.section
{
	margin-top:20px;
}
.page
{
	width:390px;
	float:left;
}
.app_icon_container
{
	border:1px solid #202020;
	height:80px;
	width:80px;
	padding:1px;
}
.app_icon
{
	height:78px;
	width:78px;
	line-height:78px;
	text-align:center;
	border:1px solid #404040;
	background-color:#303030;
}

#app_warning img
{
	float:left;
	margin-top:3px;
	margin-right:12px;
}

#app_warning
{
	color:#fdd126;
	font-size:10px;
}

.metadata
{
	color:#087fb5;
	cursor:hand;
}

